
<!DOCTYPE html><html><meta charset="UTF-8"><link rel="stylesheet" href="a.css">
<script src="a.js"></script><script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script><link rel="shortcut icon" href="favicon.ico">
<title>CLARK WEBSITE</title>

<nav>
<a href="#about" onclick="check('ab')" id="ab">ABOUT</a>
<a href="#works" onclick="check('wo')" id="wo">WORKS</a>
<a href="#archive" onclick="check('ar')" id="ar">ARCHIVE</a>
<a href="#contact" onclick="check('co')" id="co">CONTACT</a>
</nav>

<article>

<h1><span class="CC">C</span><span class="AA">L<span class="WW">A</span>R</span><span class="KK">K</span><br><span class="WW">W</span><span class="AA">EB</span><span class="KK">SI</span><span class="CC">T</span><span class="WW">E</span></h1>


<section id="works"><h2>WORKS</h2>
<div class="accordion">
	<input id="ac-1" name="accordion" type="radio">
	<label for="ac-1">MUSIC</label>
	<div>
<a href="http://www.geocities.jp/barmithruxe/_gl_medias_/Gentry_Rainy_Day.mp3">Gentry Rainy Day.mp3</a>
<a href="http://www.geocities.jp/barmithruxe/_gl_medias_/furumachi_swing.mp3">Furumachi Swing.mp3</a>
<a href="http://www.geocities.jp/barmithruxe/_gl_medias_/simply_but_subtly.mp3">Simply But Subtly</a>
<a href="http://www.geocities.jp/barmithruxe/_gl_medias_/Merhaba.mp3">Merhaba.mp3</a>
<a href="http://www.geocities.jp/barmithruxe/_gl_medias_/shalom.mp3">Shalom.mp3</a><br>
<a href="http://www.geocities.jp/barmithruxe/music/sheet_music/index.html">Sheet music</a><br>
旧ポッドキャストが廃止されたので一部を転記してます。<br>
<a href="https://itunes.apple.com/jp/podcast/clark-log/id909567709?mt=2&ign-mpt=uo%3D4">+iTunes/ Podcast+</a>
	</div>
</div>
<div class="accordion">
	<input id="ac-2" name="accordion" type="radio">
	<label for="ac-2">BOOKS</label>
	<div>
オンライン書籍サービスのパブーにて電子書籍を掲載中。<br>
Google Play Books及び楽天Koboにも一部上梓しています。<br>
<a href="http://p.booklog.jp/users/clark0226">Puboo</a>
<br>
<a href="https://www.google.co.jp/search?hl=ja&tbo=p&tbm=bks&q=inauthor:%22%E5%8A%A0%E8%B3%80%E3%83%92%E3%83%AD%E3%83%84%E3%82%B0%22&gws_rd=ssl">Google Books</a>
<a href="http://search.books.rakuten.co.jp/bksearch/dt/g101/kathr%B2%C3%B2%EC%A5%D2%A5%ED%A5%C4%A5%B0/">Kobo</a>
	</div>
</div>
<div class="accordion">
	<input id="ac-3" name="accordion" type="radio">
	<label for="ac-3">PHOTO &amp; IMAGES</label>
	<div>
<a href="http://www.geocities.jp/barmithruxe/music/photo/livephoto.html">LIVE PHOTO</a>
<a href="http://www.flickr.com/photos/clark0226/">+Flickr+</a>
<a href="http://www.geocities.jp/barmithruxe/music/photo/fickrslide.html">+Flickr's Slide+</a>
<a href="https://picasaweb.google.com/100055304130613097140">+Picasa+</a>
<a href="http://twitpic.com/photos/clark0226">+twitpic+</a>
<a href="https://picasaweb.google.com/100055304130613097140/Graffiti?feat=directlink#slideshow/5829617018453880738">Graffiti</a>
	</div>
</div>
<div class="accordion">
	<input id="ac-4" name="accordion" type="radio">
	<label for="ac-4">WEB APP</label>
	<div>・公開中のWebアプリケーション一覧
<a href="http://www.geocities.jp/barmithruxe/music/utilities.html" title="音楽関連WEBアプリ">Musical Utilities</a>
<a href="http://www.geocities.jp/barmithruxe/music/transposer.html" title="コード転調アプリ">CHORD TRANSPOSER &amp; SONG ANALYZER</a>
<a href="http://www.geocities.jp/barmithruxe/music/editor.html" title="HTMLエディタ">TEXT &amp; HTML EDITOR</a>
<a href="http://www.geocities.jp/barmithruxe/music/converter.html" title="テキスト変換アプリ">Text Converter</a>
<a href="http://www.geocities.jp/barmithruxe/music/songbooklite.html" title="ジャズ・コード譜アプリ">Jazz Song Book LITE</a>
<a href="http://www.geocities.jp/barmithruxe/DecaPoint.html" title="デカポワン点字エディター">Decapoint Editor</a>
<a href="http://www.geocities.jp/barmithruxe/music/megalifegame.html" title="1メガピクセルのライフゲーム">Mega Pixel Life Game</a>
<a href="http://www.geocities.jp/barmithruxe/music/misc/hights_of_the_world.html#bottom" title="世界最長ウェブサイト">World Highest Website</a>
<a href="http://www.geocities.jp/barmithruxe/music/LightsOut40.html" title="ライツアウトゲーム">Lights Out Game</a><br>
	</div>
</div>
<div class="accordion">
	<input id="ac-5" name="accordion" type="radio">
	<label for="ac-5">COMPANY</label>
	<div>
	スマフォ・アプリのデヴェロッパー・サイトです。<br><br>
<a href="http://facebook.com/clarkandcompany.co">Clark &amp; Company<br>
<img src="http://clarklog.up.seesaa.net/image/logo_CC-thumbnail2.png"></a>
	</div>
</div>
</section>


<section id="archive"><h2>ARCHIVE</h2>
<a href="http://blogs.yahoo.co.jp/clark_log">旧ブログ</a>
<a href="http://thirdaethetics.seesaa.net/">クラークの役に立たない音楽講座</a>
<a href="http://www.geocities.jp/barmithruxe/music/download.html">クラークのWebフリー素材</a>
<a href="http://booklog.jp/users/clark0226">クラークの本棚 byブクログ</a>
<a href="http://d.hatena.ne.jp/clark0226/">映画ブログ（旧）</a>
</section>

<section id="contact"><h2>Contact</h2><address>clarkassocie@yahoo.co.jp</address>
</section>

<section id="about"><h2>Profile</h2>
<h3>NAME: Clark　a.k.a 加賀ヒロツグ</h3>
1978年新潟生。<br>
ギター弾き。ルシア―。アッサンブラジスト。アプリ開発者。<br>
趣味は自転車旅行、トレッキング、作曲、小説作り、MYOG、DIYなど。<br><br>

<h3>Social link</h3>
<a href="http://clarklog.seesaa.net/" style="font-size:120%;">　WEBLOG / CLARK LOG</a>
<a href="https://github.com/HirotsuguKaga" style="font-size:120%;">　GitHub / HirotsuguKaga</a>
<a href="http://www.flickr.com/photos/clark0226/">　Flickr/clark0226</a>
<a href="https://www.youtube.com/user/Clark0226">　flavors.me/clark0226</a>
<a href="http://twitter.com/clark0226">　Twitter/clark0226</a>
<a href="http://clark0226.tumblr.com/">　Tumblr/CLARK LOG++</a>
<a href="http://clarksharp.tumblr.com/">　Tumblr/CLARK LOG#</a>
<a href="https://www.youtube.com/user/Clark0226">　YouTube/ClarkTube</a>
<a href="http://p.booklog.jp/users/clark0226">　Paboo/CLARK0226</a>
<a href="https://www.facebook.com/hirotsugu.kaga">　Facebook Page</a>
<br>
<div class="ninja_onebutton">
<script type="text/javascript">
//<![CDATA[
(function(d){
if(typeof(window.NINJA_CO_JP_ONETAG_BUTTON_ba1f591e3693a38ae6efb474e087c8e1)=='undefined'){
    document.write("<sc"+"ript type='text\/javascript' src='http:\/\/omt.shinobi.jp\/b\/ba1f591e3693a38ae6efb474e087c8e1'><\/sc"+"ript>");
}else{ 
    window.NINJA_CO_JP_ONETAG_BUTTON_ba1f591e3693a38ae6efb474e087c8e1.ONETAGButton_Load();}
})(document);
//]]>
</script><span class="ninja_onebutton_hidden" style="display:none;"><% article.page_url %></span><span style="display:none;" class="ninja_onebutton_hidden"><% article.subject | html %></span>
</div>


<a class="twitter-timeline" href="https://twitter.com/clark0226" data-widget-id="560814507300110336">@clark0226さんのツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<br><br>

<div class="fb-like-box" data-href="https://www.facebook.com/hirotsugu.kaga" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="true"></div>
</section>

<section></section>
<a href="#" id="totop" onclick="check()">&nbsp;<span>&lt;</span> Back To Top</a>


</article>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&appId=259560227548361&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
